 header{
  background: url('imagens/top-pattern.png');
  height: 100px;
 }

 .footer-menu-lateral{
  background: url('imagens/top-pattern.png');
  height: 30px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
 }

 .mdl-layout__drawer-button{
  background: none !important;
 }

 .mdl-layout__drawer-button{
  margin-top: 26px;
 }
 
.mdl-card{
    width: auto !important;
  }
  .demo-card-square.mdl-card {
    height: 320px;
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background:
      url('https://nodejs.org/images/logos/js-black.svg') bottom right 15% no-repeat #46B6AC;
  }
  .demo-card-square > .mdl-card__title__2 {
    color: #fff;
    background:
      url('http://linuxmint.com/pictures/screenshots/isadora/lxde/terminal.png') bottom right 15% no-repeat #46B6AC;
  }



 .demo-avatar{
   background: rgba(0, 0, 0, 0) url("imagens/top-pattern.png") repeat scroll 0 0;
 }

  .mdl-badge[data-badge]:after{
    width: 93px;
    border-radius: 0%;
    top: -27px;
    background: none;
    color: #000;
  }
  .mdl-card__media{
    text-align: center;
  }

  .header-menu-lateral{
  text-align: center;

  }
  .header-menu-lateral img{
    -webkit-border-radius: 50px 50px 50px 50px;
    border-radius: 50px 50px 50px 50px;
    padding: 11px;
    margin-top: 14px;
    margin-left: 8px;
  }

  .menu-lateral .material-icons{
    position: relative;
    top: 7px;
    right: 4px;
  }


  .mdl-navigation a{
    padding: 8px 22px !important;
  }

  .mdl-navigation .padroes{
      width: 49px;
  }
  .mdl-navigation img{
    width: 40px;
    height: 100%;
    margin-right: 6px;
  }

  .icon-small-reference{

  }

  .menu-lateral-itens .material-icons {
    position: relative;
    top: 8px;
    margin-right: 7px;
  }
